body, html
{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.canvas
{

}

label
{
	display: inline-block;
}
p
{
	display: inline-block;
}